*
{
	font-family: Microsoft YaHei,楷体,sans-serif;
}

body,html
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

div
{
	margin: 0;
	padding: 0;
}

h1
{
	font-weight: normal;
	line-height: 60px;
}

p
{
	font-size: 1.25em;
	line-height: 1.25em;
	margin: 10px 0;
}

.menu_bar
{
	width: 100%;
	padding: 0 10%;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0px 0px 10px #a1a1a1;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	background: #ffffff;
	z-index: 999;
}

.menu_bar *
{
	display: inline-block;
}

.menu_btn
{
	font-size: 1.1em;
	color: #000000;
	text-decoration: none;
	line-height: 30px;
	box-shadow: 0px 0px 0px #000000;
	font-weight: bold;
	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	margin: 16px 0;
	border: none;
	outline: 0;
}

.menu_btn:hover
{
	box-shadow: 0px 4px 0px #000000;
}

.menu_btn1
{
	font-size: 1.1em;
	color: #000000;
	text-decoration: none;
	line-height: 30px;
	box-shadow: 0px 0px 0px #000000;
	font-weight: bold;
	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	margin: 16px 0;
	border: none;
	cursor: pointer;
	outline: 0;
}

.logo
{
	height: 62px;
}

#aboutus
{
	height: 100%;
	box-sizing: border-box;
	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	display: block;
	padding-top: 62px;
	background: #1f2531;
	z-index: -2
}

#aboutus *
{
	color: #ffffff;
}

#buy
{
	margin: 40px 0;
}

.pay_btn
{
	border: 2px solid #000000;
	background: #ffffff;
	padding: 10px;
	color: #000000;
	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	display: block;
	width: 100%;
	margin: 1em 0;
	cursor: pointer;
	font-size: 1.15em;
}

.pay_btn:hover
{
	background: #000000;
	color: #ffffff;
}

.info
{
	background: #272727;
	display: block;
	padding: 40px 10%;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.info *
{
	color: #ffffff;
}

.info a
{
	display: block;
	text-decoration: none;
	color: #b1b1b1;
	transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
}

.info a:hover
{
	color: #ffffff;
}

.info p
{
	display: block;
}

.err
{
	padding: 20px;
	box-sizing: border-box;
	background: #FFB5B5;
	border-left: 5px solid #FF2D2D;
	color: #FF2D2D;
	display: block;
	font-weight: bold;
}

.m_btn
{
	display: block;
	border-top: 1px solid #444444;
	text-decoration: none;
	font-size: 1.1em;
	color: #ffffff;
	padding: 10px;
	z-index: 100;
	background: #272727;
}