body,html
{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

input,button,h1
{
	font-family: Microsoft YaHei,sans-serif;
}

p
{
	font-family: Microsoft YaHei,sans-serif;
	font-size: 0.8em;
}

.top_box,.center_box,.bottom_box
{
	display: block;
}

.top_box
{
	width: 100%;
	text-align: center;
}

.top_bar
{
	display: block;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}

.left_box
{
	display: inline-block;
	width: 50%;
	text-align: left;
}

.right_box
{
	display: inline-block;
	width: 50%;
	text-align: right;
}

.logo
{
	width: 35%;
	margin-top: 10%;
	margin-bottom: 50px;
	text-align: center;
}

.logo img
{
	width: 100%;
}

.center_box
{
	width: 100%;
	padding: 0 22.5%;
	box-sizing: border-box;
}

.input
{
	outline: 0;
	display: inline-block;
	line-height: 22px;
	font-size: 16px;
	padding: 12px;
	width: 90%;
	box-sizing: border-box;
	border: 2px solid rgba(200,200,200,0.7);
	color: rgba(200,200,200,0.7);
	border-radius: 9999px 0 0 9999px;
	vertical-align: middle;
	background: transparent;
}

.input:hover
{
	border: 2px solid #272727;
}

.input:focus
{
	border: 2px solid #0084ff;
	color: #272727;
}

.submit
{
	outline: 0;
	display: inline-block;
	line-height: 22px;
	font-size: 16px;
	padding: 12px;
	width: 10%;
	box-sizing: border-box;
	border: 2px solid rgba(200,200,200,0.7);
	color: rgba(200,200,200,0.7);
	border-left: none;
	border-radius: 0 9999px 9999px 0;
	cursor: pointer;
	font-weight: bold;
	background: transparent;
	vertical-align: middle;
}

.submit:hover
{
	border: 2px solid #272727;
	color: #272727;
	border-left: none;
}

.submit:active
{
	border: 2px solid #0084ff;
	color: #0084ff;
	border-left: none;
}

.bottom_box
{
	width: 100%;
	box-sizing: border-box;
}

.links_box
{
	display: block;
	margin: 2.5% 15%;
	box-sizing: border-box;
	background: rgba(240,240,240,0.6);
	border-radius: 30px;
	padding: 40px;
}

.links_box_button
{
	border: 1px solid #0084ff;
	padding: 8px;
	border-radius: 20px;
	outline: 0;
	color: #0084ff;
	background: transparent;
	cursor: pointer;
}

.links_box_button:hover
{
	border: 1px solid #0084ff;
	padding: 8px;
	border-radius: 20px;
	outline: 0;
	color: #efefef;
	background: #0084ff;
}

.links_box h1
{
	margin: 0;
	font-size: 1.5em;
	font-family: Microsoft YaHei,sans-serif;
	font-weight: normal;
}

.links_b
{
	margin: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.link_ico
{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.link_out
{
	padding: 15px;
}

.link_out:hover
{
	background: #dddddd;
	cursor: pointer;
}

.zhihu
{
	background-color: #0084ff;
	background-size: 50px 50px;
}

.douban
{
	background-color: #379a45;
	background-size: 50px 50px;
}

.taobao
{
	background: -webkit-linear-gradient(left, #ff8f00 , #ff5000);
	background: -o-linear-gradient(right, #ff8f00 , #ff5000);
	background: -moz-linear-gradient(right, #ff8f00 , #ff5000);
	background: linear-gradient(to right, #ff8f00 , #ff5000);
	background-size: 50px 50px;
}

.bilibili
{
	background-color: #ff8eb3;
	background-size: 50px 50px;
}

.sinaweibo
{
	background-color: #e5152c;
	background-size: 50px 50px;
}

.youku
{
	background: -webkit-linear-gradient(left, #078dff , #3ee4ff);
	background: -o-linear-gradient(right, #078dff , #3ee4ff);
	background: -moz-linear-gradient(right, #078dff , #3ee4ff);
	background: linear-gradient(to right, #078dff , #3ee4ff);
	background-size: 50px 50px;
}

.jingdong
{
	background-color: #df1e19;
	background-size: 50px 50px;
}

.sina
{
	background-color: #ffffff;
	background-size: 50px 50px;
}

.bdwangpan
{
	background-color: #ffffff;
	background-size: 50px 50px;
}

.iqiyi
{
	background-color: #00bf06;
	background-size: 50px 50px;
}

.tencentnews
{
	background-color: #ffffff;
	background-size: 50px 50px;
}

.baidu
{
	background-color: #317ef3;
	background-size: 50px 50px;
}

#idea
{
	width: 100%;
	height: 200px;
	border: none;
	overflow: hidden;
	transition-duration: 0.4s;
}

.idea_q
{
	width: 2em;
	height: 2em;
	cursor: pointer;
	display: block;
	text-align: right;
}

.idea_q_btn
{
	border: none;
	outline: 0;
	background: #ffffff;
	padding: 8px 20px;
	color: #272727;
	margin-top: 10px;
	cursor: pointer;
}

.idea_q_btn_c
{
	border: none;
	outline: 0;
	background: #F3E2A9;
	padding: 8px 20px;
	color: #272727;
	margin-top: 10px;
	cursor: pointer;
}

.idea_q_btn_d
{
	border: none;
	outline: 0;
	background: #272727;
	padding: 8px 20px;
	color: #ffffff;
	margin-top: 10px;
	cursor: pointer;
}

.idea_q_btn:hover
{
	background: #dfdfdf;
}

.tools_body
{
	margin: 0 auto;
	width: 100%;
	display: block;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 99;
	padding: 40px 20%;
	transition-duration: 0.4s;
}

.tools_title
{
	width: 60%;
	padding: 12px;
	box-sizing: border-box;
	display: block;
	border-radius: 8px 8px 0 0;
	background: #ffffff;
	font-family: Microsoft YaHei,sans-serif;
	transition-duration: 0.4s;
}

.tools_iframe
{
	width: 60%;
	height: 70%;
	display: block;
	border: none;
	border-radius: 0 0 8px 8px;
	background: #ffffff;
	transition-duration: 0.4s;
}

.tools_fi
{
	width: 100%;
	height: 100%;
	display: block;
	background: #000000;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 80;
}

#setup_body
{
	width: 600px;
	position: fixed;
	left: 50%;
	margin-left: -300px;
	top: 50%;
	margin-top: -200px;
	display: none;
	background: #ffffff;
	border-radius: 8px;
	z-index: 9999;
	box-sizing: border-box;
	padding: 8px;
	border-top: 6px solid #30a4ff;
}

#setup_body h1
{
	font-size: 1.5em;
	font-weight: normal;
}

#setup_body input[type=text]
{
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 8px;
	outline: 0;
	border: 1px solid #a1a1a1;
	box-shadow: 0px 0px 0px #cfcfcf;
	transition: 0.4s;
	border-radius: 6px;
}

#setup_body input[type=text]:focus
{
	border: 1px solid #0084ff;
	box-shadow: 0px 0px 6px #cfcfcf;
}

#setup_body select
{
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 8px;
	outline: 0;
	border: 1px solid #a1a1a1;
	box-shadow: 0px 0px 0px #cfcfcf;
	transition: 0.4s;
	border-radius: 6px;
	cursor: pointer;
}

#setup_body select:focus
{
	box-shadow: 0px 0px 6px #cfcfcf;
}

#setup_body button
{
	display: block;
	outline: 0;
	padding: 8px;
	background: #30a4ff;
	color: #ffffff;
	box-sizing: border-box;
	border-radius: 8px;
	display: block;
	width: 100%;
	border: none;
	cursor: pointer;
	transition: 0.4s;
}

#setup_body button:hover
{
	background: #0084ff;
}

/* 测试 

.btn-audio{
        margin: 90px auto;
        width: 186px;
        height: 186px;
        background:url(images/voice_stop.png) no-repeat center bottom;
        background-size:cover;
    }*/